.container-wapper {
    border-bottom: 2px solid #eee;
}
.CityContainer
{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.CityContainerCard 
{
    border: '2px solid #eee';
    padding: '20px';
    box-sizing: border-box;
    box-shadow: 5px 5px 5px #ccc;
    padding: 20px;
}
.ImgContainer {
    height: 150px
}