@import '~antd/dist/antd.css';
body{
  margin: 0px;
  padding: 0px;
}
.App {
        /* display: flex;
        flex-direction: column; */
  }

  .App-header {
    height: auto;
    padding: 20px;
    color: '#000';
  }
  
  .App-title {
    font-size: 1.5em;
    color: '#000';
  }
