@import '~antd/dist/antd.css';
body{
  margin: 0px;
  padding: 0px;
}
.App {
        /* display: flex;
        flex-direction: column; */
  }

.headerContainer {
   background-image: url('./images/headercontainer.jpeg');
   height: 550px;
   background-clip: padding-box;
   background-size: cover;
   border-bottom: 2px solid #ccc;
}  

  .App-header {
    height: auto;
    padding: 20px;
    color: '#000';
  }
  
  .App-title {
    font-size: 1.5em;
    color: '#000';
  }
