.footercontainer {
    border-top: 2px solid #eee;
    box-sizing: border-box;
    margin-top: '10px';
}

.footer_Nav {
    padding: 50px;
}

.gsc_container {
    display: 'flex';
    flex-direction: 'column';
    justify-content: center;
}

.logo {
    font-size: '100px'
}

.gsc_row {
    display: 'flex';
    flex-direction: 'row';
}
.borderLessList {
    border: 0px;
}
.term {
    margin-left: 15px;
    color: #000;
    padding-top: '20px';
    text-align: center;
    padding-bottom: '30px'
}